# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables — NUNCA subir esto
.env
.env.production
.env.*.local

# macOS
.DS_Store

# editores
.idea/
.vscode/
